<h1>Secret Page</h1>
<p>AAAAAAAAAAAAAA</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ712UXA7cUnv2EvE0QhnMX99U5JR3dpwQUxJ0nwAUDMPM68rmS&usqp=CAU">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>