<%- include("partials/header") %>
<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="post">
		<div class="field">
			<Label>Title</Label>
			<input type="text" name="blog[title]" placeholder="title">
		</div>
		<div class="field">
			<Label>Image</Label>
			<input type="text" name="blog[image]" placeholder="image">
		</div>
		<div class="field">
			<Label>Blog Content</Label>
			<textarea name="blog[body]" placeholder="blog post goes there"></textarea>
		</div>
		<input class="ui inverted blue button big" type="submit">
	</form>
</div>

<%- include("partials/footer") %>