<h1>Vai Brother List</h1>
<% vaiBrothers.forEach(function(list){ %>
	<li><%= list%></li>
<% })%>
<form action="/add" method="post">
	<input type="text" name="newName" placeholder="name">
	<button>Submit</button>
</form>